<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CLEAN MARKUP = GOOD KARMA.
    Hi source code lover,

    you're a curious person and a fast learner ;)
    Let's make something beautiful together. Contribute on Github:
    https://github.com/webslides/webslides

    Thanks,
    @jlantunez.
  -->

  <!-- SEO -->
  <title>JunDols</title>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,700,700i%7CMaitree:200,300,400,600,700&amp;subset=latin-ext" rel="stylesheet">

  <!-- CSS WebSlides -->
  <link rel="stylesheet" type='text/css' media='all' href="css/webslides.css">

  <!-- Optional - CSS SVG Icons (Font Awesome) -->
  <link rel="stylesheet" type='text/css' media='all' href="css/svg-icons.css">

  <!-- SOCIAL CARDS (ADD YOUR INFO) -->

  <!-- FAVICONS -->
  <link rel="shortcut icon" sizes="16x16" href="images/favicons/favicon.png">
  <link rel="shortcut icon" sizes="32x32" href="images/favicons/favicon-32.png">
  <link rel="apple-touch-icon icon" sizes="76x76" href="images/favicons/favicon-76.png">
  <link rel="apple-touch-icon icon" sizes="120x120" href="images/favicons/favicon-120.png">
  <link rel="apple-touch-icon icon" sizes="152x152" href="images/favicons/favicon-152.png">
  <link rel="apple-touch-icon icon" sizes="180x180" href="images/favicons/favicon-180.png">
  <link rel="apple-touch-icon icon" sizes="192x192" href="images/favicons/favicon-192.png">

  <!-- Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="#333333">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<!--<header role="banner">-->
  <!--<nav role="navigation">-->
    <!--<ul>-->
      <!--<li class="github">-->
        <!--<a rel="external" href="https://github.com/hongjunseok" title="Github">-->
          <!--G-->
          <!--<em>WebSlides</em>-->
        <!--</a>-->
      <!--</li>-->
      <!--<li class="website">-->
        <!--<a rel="external" href="https://jundol.herokuapp.com/" title="StudyRoom">-->
          <!--S-->
          <!--<em>@WebSlides</em>-->
        <!--</a>-->
      <!--</li>-->

      <!--<li class="dribbble">-->
        <!--<a rel="external" href="http://webframeworks.kr/tutorials/nextjs/nextjs-004/" title="StudyRoom">-->
          <!--W-->
          <!--<em>@WebSlides</em>-->
        <!--</a>-->
      <!--</li>-->
      <!--&lt;!&ndash;  <li class="dribbble"><a rel="external" href="http://dribbble.com/webslides" title="Dribbble"><svg class="fa-dribbble"><use xlink:href="#fa-dribbble"></use></svg> <em>webslides</em></a></li> &ndash;&gt;-->
    <!--</ul>-->
  <!--</nav>-->
<!--</header>-->

<main role="main">
  <article id="webslides" class="vertical">
    <section>
      <span class="background" style="background-image:url('https://webslides.tv/static/images/nature.jpg')"></span>
      <!--.wrap = container (width: 90%) -->
      <div class="wrap aligncenter">
        <h1><strong>Hello, JunDol</strong></h1>
        <p class="text-intro">왜? 웹 개발자일까?<br></p>

      </div>
      <!-- .end .wrap -->
    </section>
    <section>
      <!--.wrap = container (width: 90%) -->
      <div class="wrap size-50 aligncenter">
        <h1><strong>Language History</strong></h1>
        <p class="text-intro">개발언어에는 귀천이 없다.</p>
        <div class="bg-white shadow">
          <ul class="flexblock plans">
            <li>
              <h2>1993년</h2>
              <p><b>GW-BASIC</b><br><img src="images/img1.png" width="50%"></p>
            </li>
            <li>
              <h2>1995년</h2>
              <p><b>ToolBook II</b><br><img src="images/img2.png" width="50%"></p>
            </li>
            <li>
              <h2>2001년</h2>
              <p><b>Asp/IIS/Flash 5</b><br><img src="images/img3.png" width="50%"></p>
            </li>
            <li>
              <h2>2006년</h2>
              <p><b>MSSql/MYSql</b><br><img src="images/mssql.png" width="50%"><br><img src="images/mysql.jpg" width="50%"></p>
            </li>
            <li>
              <h2>2011년</h2>
              <p><b>JAVA Spring/Oracle</b><br><img src="images/img5.png" width="70%"><br><img src="images/oracle9i.jpeg" width="50%"></p>
            </li>
            <li>
              <h2>2013년</h2>
              <p><b>PHP CI, Laravel/AngulaJS</b><br><img src="images/img6.png" width="100%"></p>
            </li>
            <li>
              <h2>2015년</h2>
              <p><b>Node JS/ReactJS/VueJS</b><br><img src="images/img7.png" width="50%"></p>
            </li>
          </ul>
        </div>
        <!-- .end .bg-white shadow -->
      </div>
      <!-- .end .wrap -->
    </section>
    <section>
      <!--.wrap = container (width: 90%) -->
      <div class="wrap">
        <div class="grid vertical-align">
          <div class="column">
            <h1><strong>영어 공부 App(학생) / 성적관리 웹(강사)</strong></h1>
            <p class="text-intro">학생들이 실시간으로 영어 OMR / 단어 / 문장을 강사의 승인을 받아 답을 제출하면 웹에서 실시간으로 성과 분석을 한다. </p>
            <h3><strong>개발 기간: 2018.05 ~ 현재</strong></h3>
            <p class="text-intro">모바일 개발자 1명(초급)/웹 프론트 개발자 1명(초급)/백엔드 API</p>
            <a href="https://play.google.com/store/apps/details?id=com.hangun.m.hangun" style="font-size: 15pt">Android</a>
            <br/>
            <a href="https://itunes.apple.com/kr/app/틴토리/id1434495120?mt=8" style="font-size: 15pt">IOS</a>
          </div>
          <!-- .end .column -->
          <div class="column">
            <img src="images/teentorys.png" width="100%">
          </div>
          <!-- .end .column -->
        </div>
        <!-- .end .grid -->
      </div>
      <!-- .end .wrap -->
    </section>

    <section>
      <!--.wrap = container (width: 90%) -->
      <div class="wrap">
        <div class="grid vertical-align">
          <div class="column">
            <h1><strong>온/오프라인 프로그램 코딩 스터디</strong></h1>
            <p class="text-intro">인터넷 진흥원의 지원을 받아 진행하고 있는 코드랩 강의 신청 사이트</p>
            <h3><strong>개발 기간: 2018.01 ~ 2018.4</strong></h3>
            <p class="text-intro">모바일 개발자 1명(초급)/웹 프론트 & 백엔드 API</p>
            <a href="https://play.google.com/store/apps/details?id=com.hangun.m.hangun" style="font-size: 15pt">Android</a>
            <br/>
            <a href="https://itunes.apple.com/kr/app/틴토리/id1434495120?mt=8" style="font-size: 15pt">IOS</a>
          </div>
          <!-- .end .column -->
          <div class="column">
            <img src="images/codelabs.png" width="100%">
          </div>
          <!-- .end .column -->
        </div>
        <!-- .end .grid -->
      </div>
      <!-- .end .wrap -->
    </section>
    <section>
      <!--.wrap = container (width: 90%) -->
      <div class="wrap">
        <div class="grid vertical-align">
          <div class="column">
            <h1><strong>명품 가방 렌탈 숍</strong></h1>
            <p class="text-intro">실시간으로 가방의 컨디션을 확인하여, 렌탈 / 배송 / 반납 알림 관리 사이트</p>
            <h3><strong>개발 기간: 2018.01 ~ 현재 : 신규개발 및 유지보수</strong></h3>
            <p class="text-intro">웹 프론트 & 백엔드 API - PHP Laravel </p>
            <a href="https://series-eight.com/" style="font-size: 15pt">Web</a>
          </div>
          <!-- .end .column -->
          <div class="column">
            <img src="images/s8.png" width="100%">
          </div>
          <!-- .end .column -->
        </div>
        <!-- .end .grid -->
      </div>
      <!-- .end .wrap -->
    </section>
    <section>
      <!--.wrap = container (width: 90%) -->
      <div class="wrap">
        <div class="grid vertical-align">
          <div class="column">
            <h1><strong>대학 병원 DW 솔루션</strong></h1>
            <p class="text-intro">서울대 병원 / 삼성의료원 등 현재도 사용하고 있는 솔루션으로 SAP HANA DB를 사용하여 5초 이내에 데이터를 가공하여 처리</p>
            <h3><strong>개발 기간: 2011.11 ~ 2012.10</strong></h3>
            <p class="text-intro">웹 프론트 & 백엔드 - JAVA </p>
          </div>
          <!-- .end .column -->
          <div class="column">
            <img src="images/cdw.png" width="100%">
          </div>
          <!-- .end .column -->
        </div>
        <!-- .end .grid -->
      </div>
      <!-- .end .wrap -->
    </section>
    <section>
      <div class="wrap">
        <h1>Etc</h1>
        <ul class="flexblock features">
          <li>
            <div style="font-size:12pt">
              <h2>
                <img src="images/tk.png" width="100%">
              </h2>
              <h2>티센크루프 엘레베이터</h2>
              동양엘레베이터 DB를 기반으로 각 분야의 직원들이 작업에 필요한 데이터를 손쉽게 가공하고 공유할 수 있는 하이브리드 웹/앱
            </div>
          </li>
          <li>
            <div style="font-size:12pt">
              <h2>
                <img src="images/daus.jpeg" width="100%">
              </h2>
              <h2>재해/재난 장애대응 솔루션</h2>
              재해/재난 시 복구 자동화를 통한 RTO 충족 시켜주는 솔루션
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section>
      <div class="wrap">
        <h2><strong>최근 가장 재밌게 하고 있는 프로젝트</strong></h2>
        <p style="font-size:14pt">오픈 플랫폼을 이용하여 구현(NodeJS/GCP/Canvas)</p>
        <p style="font-size:12pt">최근 직구를 통해 국내 오픈 마켓등에 등록하여 판매하는 사람들이 많아 짐에 따라, 경쟁력을 갖기 위해 대량의 상품을 소싱하여 URL만 등록하면, 해당 경로에 있는 이미지를 실시간으로 크롤링하여 중국어를 찾아 번역하여 이미지를 변환하여 11번가 및 네이버 쇼핑에 자동 등록 함.</p>
        <ul class="flexblock gallery">
          <li>

            <figure>
              <img src="images/taobao1.png">
              <figcaption>
                <h2>타오바오에 있는 상품의 사이즈 표 이미지</h2>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <img src="images/taobao2.png">
              <figcaption>
                <h2>이미지 분석 후 중국어가 있는 좌표를 추출하여 해당 중국어를 번역하여 이미지 생성</h2>
              </figcaption>
            </figure>
          </li>
        </ul>
      </div>
      <!-- .end .wrap -->
    </section>
    <section class="slide-bottom">
      <div class="wrap">
        <div class="content-right text-serif">
          <h1>
            <strong>Thanks.</strong>
          </h1>

        </div>
        <!-- .end .content-right -->
      </div>
      <!-- .end .wrap -->
    </section>

  </article>
  <!-- end article -->
</main>
<!-- end main -->

<!-- A global footer

  <footer role="contentinfo">
   <div class="wrap">
     <p>An <a href="https://github.com/webslides/webslides">open source solution</a>, by <a href="https://twitter.com/webslides">@webslides</a>.</p>
   </div>
 </footer>  -->

<!-- Required -->
<script src="js/webslides.js"></script>
<script>
  window.ws = new WebSlides();
</script>

<!-- OPTIONAL - svg-icons.js (fontastic.me - Font Awesome as svg icons) -->
<script defer src="js/svg-icons.js"></script>

</body>
</html>
